@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import "the-new-css-reset";

body {
  font-family: "Quicksand" !important;
  font-size: 14px;
  background-color: #f2edf3;
  color: #3e4b5b;
  background-image: url("/img/bg.jpg");
}
